@import url("./BubbleUI-v2.0.1.css");
@import url("./components/_import.css");
@import url("./views/_import.css");

:root {
    --accent-color : #007ACC;
}

.accent-hover:hover{
    color: var(--accent-color);
}

html, body {
    min-height: 100% !important;
    height: auto;
}

#view-container-box {
    min-height: 100% !important;
    width: 100%;
}
